<h1><%= @page_title %></h1>

<table class='table table-striped table-hover'>
  <thead>
    <th>Revisões Pendentes</th>
  </thead>
  <tbody>
    <%= articles_for_proofreadings(@pending) %>
  </tbody>
  <thead>
    <th>Revisões Passadas</th>
  </thead>
  <tbody>
    <%= articles_for_proofreadings(@articles) %>
  </tbody>
</table>