<table class='table table-striped table-hover'>
  <thead>
    <th>Nome</th>
    <td>Evento</td>
  </thead>
  <tbody>
    <% @pending.each do |article|%>
    <tr>
      <td><%= link_to article.title, event_article_apply_path(article.event, article) %></td>
      <td><%= article.event.initials %></td>
    </tr>
    <% end %>
  </tbody>
  <thead>
    <th>Revisões Passadas</th>
  </thead>
  <tbody>
    <% @articles.each do |article|%>
    <tr>
      <td><%= link_to article.title, event_article_apply_path(article.event, article) %></td>
      <td><%= article.event.initials %></td>
    </tr>
    <% end %>
  </tbody>
</table>