<h1><%= Notification.model_name.human(count: 2)%></h1>

<% if @notifications.any? %>
<table class='table table-striped table-hover'>
  <tbody>
      <% @notifications.each do |notif| %>
      <tr>
        <td><%= l notif.created_at.advance(hours: -3), format: :short %></td>
        <td><%= link_to notif.message, event_article_path(notif.article.event, notif.article) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não há notificações</p>
<% end %>