<%= form_for([@event, @article], url: event_article_apply_path, local: true) do |form| %>
  <div class='form-group'>
    <%= form.label :status %>
    <%= form.select :status, options_for_select(@status, @article.status), {}, class:'form-control' %>
  </div>
  <div class='form-group' align=right>
    <%= form.submit 'Aplicar Revisão', class: 'btn btn-primary'%>
  </div>
<% end %>