<%= form_for([@event, @article], url: event_article_assign_path, local: true) do |form| %>
<div class='row'>
  <div class='col'>
    <%= form.label :user_ids %>
    <%= form.collection_select(:user_ids, @professors, :id, :name,
      {prompt: true}, class: 'form-control')
    %>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col' align=right>
    <%= form.submit %>
  </div>
</div>
<% end %>